@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-medium-gray: rgb(243 243 243);
    --color-divider: rgb(232 232 232);
    --color-text-medium-gray: rgb(243 243 243);
    --color-dark-gray: rgb(135 139 148);
    --color-gold: rgb(190 150 85);
}

.basicPadding {
    @apply px-7;
}